<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout( ~{::section})}">
<body>
<section>
  <form th:action="@{/database/clean}" method="post">
    <div class="box box-default">
      <div class="box-header"><h3 class="box-title"><i class="fa fa-fw fa-trash"></i> Eliminar centros y trabajos</h3>
      </div>
      <div class="box-body">
        <p>Atención se van a eliminar todos los centros y trabajos. Esta acción no se puede deshacer.
        </p>
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-danger">
          <i class="fa fa-fw fa-trash"></i> Eliminar centros y trabajos
        </button>
      </div>
  </form>
</section>
</body>
</html>
