<!DOCTYPE html>
<html th:replace="~{layout :: layout( ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<body>
<section>
  <form th:action="@{/job/allocate}" method="post">
    <div class="box box-default">
      <div class="box-header"><h3 class="box-title"><i class="fa fa-fw fa-cogs"></i> Asignar trabajos</h3></div>
      <div class="box-body">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th class="col-sm-1">#</th>
            <th>Nombre</th>
            <th class="col-sm-2">Propietario</th>
            <th class="col-sm-2 text-right">Tamaño</th>
          </tr>
          </thead>
          <tr th:each="job :${jobs}">
            <td th:text="${job.id}"></td>
            <td th:text="${job.name}"></td>
            <td th:text="${job.owner}"></td>
            <td class="text-right" th:text="${job.size}"></td>
          </tr>
        </table>
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-fw fa-hand-pointer-o"></i> Asignar trabajos
        </button>
      </div>
    </div>
  </form>
</section>
</body>
</html>